
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Scripts.Render("~/JS/Reserva.js")

<h2>Noticias</h2>
<body onload="CargarListdadoReserva();">
</body>

<br />
<br />

<div id="divListadoReserva">

</div>
