
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<body onload="CargarListdadoReserva();">
</body>*@

<br />
<br />
<input type="button" class="btn btn-success" value="Cargar Reservas" id="btnCargarReserva" onclick="CargarListadoReserva();" />
<br />
<br />
<div id="divListadoReserva">

</div>
<script>

    function CargarListadoReserva() {
        $.ajax({
            type: "POST",
            url: "/Reserva/Main/ListReserva",
            success: function (html) {
                $("#divListadoReserva").html(html);
            }
        });
    }

</script>